@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}
section
{
    position: relative;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section .logo
{
    position: fixed;
    top: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 3em;
    z-index: 1001;
    letter-spacing: 1vh;
    cursor: default;    
    animation: animate 7s linear infinite;
}
@keyframes animate
{
    0%
    {
        left: 90%;
        transform: translateX(20px); 
        letter-spacing: 2vh;       
    }
    10%
    {
        left: 80%;
        transform: translateX(20px);   
        letter-spacing: 3vh;     
    }
    20%
    {
        left: 70%;
        transform: translateX(20px);
        letter-spacing: 4vh;
    }
    30%
    {
        left: 60%;
        transform: translateX(20px);
        letter-spacing: 5vh;
    }
    40%
    {
        left: 50%;
        transform: translateX(20px);
        letter-spacing: 6vh;
    }
    50%
    {
        left: 40%;
        transform: translateX(20px);
        letter-spacing: 6vh;
    }
    60%
    {
        left: 30%;
        transform: translateX(20px);
        letter-spacing: 5vh;
    }
    70%
    {
        left: 20%;
        transform: translateX(20px);
        letter-spacing: 4vh;
    }
    80%
    {
        left: 10%;
        transform: translateX(20px);
        letter-spacing: 3vh;
    }
    90%
    {
        left: 0%;
        transform: translateX(20px);
        letter-spacing: 2vh;
    }
    100%
    {
        left: -10%;
        transform: translateX(20px);
        letter-spacing: 1vh;
    }
}
section .bg
{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
}
section .box
{
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 90%;
    color: #fff;    
}
section .box:before
{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border: 4px solid #fff;
    background: #000;
    filter: url(#wavy);
    opacity: 50%;
}
section .box:after
{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 50%;
    height: 100%;
    border: 4px solid #fff;
    border-right: none;
    filter: url(#wavy);
    background: rgba(255,255,255,.1);
}
section .box .content
{
    padding-left: 15px;
    position: relative;  
    z-index: 1;
}
section .content h2
{
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.1em;
    letter-spacing: 1px;
}
section .content p
{
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.1em;
    margin: 20px 0 10px;    
}
section .content a
{    
    position: absolute;   
    display: inline-block; 
    padding: 10px 30px;    
    margin: 20px 0;
    color: #203629;   
    font-size: 1em;
    text-decoration: none;         
    background:#FFBF00;    
    font-weight: 500;
    border: 1px solid #FFBF00;  
    overflow: hidden;
    transition: 0.5s;      
}
section .content a:hover
{
    color: #FFBF00;
    background: #203629;
    box-shadow: 0 0 5px #203629,0 0 25px #203629,0 0 50px #203629,0 0 200px #203629;
}
section .content a span
{
    position: absolute;
    display: block;    
}
section .content a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#203629);
    animation: animSpan1 1s linear infinite;
}
@keyframes animSpan1
{
    0%
    {
          left: -100%;
    }
    50%,100%
    {
          left: 100%;
    }
}
section .content a span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#203629);
    animation: animSpan2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animSpan2
{
    0%
    {
          top: -100%;
    }
    50%,100%
    {
          top: 100%;
    }
}
section .content a span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#203629);
    animation: animSpan3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animSpan3
{
    0%
    {
        right: -100%;
    }
    50%,100%
    {
        right: 100%;
    }
}
section .content a span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#203629);
    animation: animSpan4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animSpan4
{
    0%
    {
        bottom: -100%;
    }
    50%,100%
    {
        bottom: 100%;
    }
}
.copyrightText
{
    right: 50%;
    bottom: 10%;
    position: absolute;
    bottom: 20px;
    color: #fff;
    font-size: 1.1em;
    margin: 20px 0 10px;
}